openapi: 3.0.0   # Open api version

info:
  title: GPT2-maketing-man
  version: "v0.1"
  contact:
    name: AInizer - Lee hoseop
  description: |
    This app is generate marketing man style text!
    ---
      How to use:
      * First, Choose wanna type!
      * Second, Fill text in text! This will be base of marketing man style text!
      * And then, Fill number in sample! The app generates sample number of text!
      * If you select 'long' type, be fill number in length! The app generates text of that size!

servers:
  - url: https://main-gpt2-marketing-man-fpem123.endpoint.ainize.ai/

paths:
  /GPT2-marketing-man/short:
    post:
      requestBody:
        required: true
        description: |
          This request will get short response. That means a word including special character.
        
          curl example
            
              curl -X POST "https://main-gpt2-marketing-man-fpem123.endpoint.ainize.ai/GPT2-marketing-man/short" -H "accept: application/json" -H "Content-Type: multipart/form-data" -F "text=Hello " -F "samples=3"
        
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                text:
                  type: string
                samples:
                  type: string
      responses:   # Set response
        '200':
          description: "Successful Response"
          content:
            application/json:
              schema:
                type: object
        '400':
          description: "Bad Request Error"
        '429':
          description: "Too many requests"
        '500':
          description: "Server-side Error"
          
          
  /GPT2-marketing-man/long:
    post:
      requestBody:
        required: true
        description: |
          This request will get long response. That is marketing man style text. length must be more than 20. If less than 20, it's replaced 20.
          
          curl example
          
              curl -X POST "https://main-gpt2-marketing-man-fpem123.endpoint.ainize.ai/GPT2-marketing-man/long" -H "accept: application/json" -H "Content-Type: multipart/form-data" -F "text=Hello, " -F "samples=3" -F "length=50"
          
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                text:
                  type: string
                samples:
                  type: string
                length:
                  type: string
      responses:   # Set response
        '200':
          description: "Successful Response"
          content:
            application/json:
              schema:
                type: object
        '400':
          description: "Bad Request Error"
        '429':
          description: "Too many requests"
        '500':
          description: "Server-side Error"
